.dice {
	display: grid;
 	grid-gap: 10px;
	grid-template-columns: 100px  100px  100px 100px;
    grid-template-areas:
       	"die-red   die-yellow die-white"
     	"die-green die-blue   die-white2";
	width: 0;
}

@media (max-width: 500px) {
	.dice {
		grid-template-columns: 100px  100px;
    	grid-template-areas:
	       	"die-red   die-yellow"
	     	"die-green die-blue"
	     	"die-white die-white2";
	}
}
