.dice {
	display: grid;
 	grid-gap: 10px;
	grid-template-columns: 100px  100px  100px 100px;
    grid-template-areas:
       	"red   yellow white"
     	"green blue   white2";
	width: 0;
}

.die {

	border: 1px solid black;
	width: 4rem;
	height: 4rem;
	margin: 5px;
	border-radius: 5px;
	text-align: center;
	font-size: 2.5rem;
	color: black;
	background: white;
}

@media (max-width: 500px) {
	.dice {
		grid-template-columns: 100px  100px;
    	grid-template-areas:
	       	"red   yellow"
	     	"green blue"
	     	"white white2";
	}
}

.red {
	background-color: #df0000;
	grid-area: red;
}

.yellow {
	background-color: #fdca00;
	grid-area: yellow;
}

.green {
	background-color: #339900;
	grid-area: green;
}

.blue {
	background-color: #336699;
	grid-area: blue;
}

.white {
	grid-area: white;
}	

.white2 {
	grid-area: white2;
}	