.dice {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.die {
	flex: 1 0 26%; /* explanation below */
	border: 1px solid black;
	width: 4rem;
	height: 4rem;
	margin: 5px;
	border-radius: 5px;
	text-align: center;
	font-size: 2.5rem;
	color: black;
}

.red {
	background-color: #df0000;
}

.yellow {
	background-color: #fdca00;
}

.green {
	background-color: #339900;
}

.blue {
	background-color: #336699;
}